/* --------------------------------------- */
/* ----- css ----- */
/* --------------------------------------- */
h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

#firstheader1 {
    text-align: center;
}

h2,
h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

body {
    background-color: powderblue;
}
